.list{

    display: inline-block;
    padding-right:40px;
    }
    .an{
    text-decoration: none;
    color: white;
    font-size: 16px;
    }
    .navdiv{
        background-color:#404144;
        margin:0px ;
        padding: 20px 0 20px 0;
        }
.maindiv {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        background-color: aqua;  
    }
      @media (min-width: 768px) {
        .maindiv {
          width: 750px;
        }
      }
      @media (min-width: 992px) {
        .maindiv {
          width: 970px;
        }
      }
      @media (min-width: 1200px) {
        .maindiv {
          width: 1170px;
        }
        
    }
    

#dp{
    background-color: salmon;
    height: 10%
}
.pic{
    background-color: chartreuse;
    width: 20%
}
#imgg{
    height: 200px;
}
#para{
    padding-left: 240px;
    
}
.right{
    background-color:slategrey;
    float:right;
    width:60%;
}
.left{
    background-color: darkgrey;
    float:left;
    width:30%;
}
.para{
    line-height:2.0; font-size:1.1rem;
}
@media (max-width: 600px) {
    .para {
      line-height: 1.0;
      font-size: 0.9rem;
      font-style: italic;
      margin-top: 0%;
    }
  }
@media (min-width: 699px){
    .para{
    line-height: 1.0;
      font-size: 0.9rem;
      font-style: normal;
      margin-top: 0%;
    }
}

@media (min-width: 700px){
    .para{
    line-height: 1.1;
      font-size: 1.1rem;
      font-style: italic;
      margin-top: 0%;
    }
}
@media (min-width: 800px){
    .para{
    line-height: 1.1;
      font-size: 1.1rem;
      font-style: normal;
      margin-top: 0%;
    }
}
@media (min-width: 900px){
    .para{
    line-height: 1.1;
      font-size: 1.3rem;
      font-style: normal;
      margin-top: 0%;
    }
}
@media (min-width: 950px){
    .para{
    line-height: 1.2;
      font-size: 1.4rem;
      font-style: normal;
      margin-top: 0%;
    }
}
@media (min-width: 995px){
    .para{
    line-height: 1.2;
      font-size: 1.4rem;
      font-style: normal;
      margin-top: 0%;
    }
}

@media (min-width: 1000px){
    .para{
    line-height: 1.3;
      font-size: 1.4rem;
      font-style: italic;
      margin-top: 0px;
    }
}
@media (min-width: 1200px){
  .para{
  line-height: 1.4;
    font-size: 1.4rem;
    font-style: normal;
    margin-top: 60px;
  }
}

@media (max-width: 450px){
  .right{
    width: 100%;
  
    
  }
}
@media (max-width: 450px){
  .left{
    width: 100%;
  }
}
@media (max-width: 768px){
  .right{
    width: 100%;
  }
}

@media (max-width: 768px){
  .left{
    width: 100%;
  }
}

@media (max-width: 768px){
  .zee{
    width: 100%;
  }
}
@media (max-width: 450px){
  .zee{
    width: 100%;
  }
}


  .footer {
  
    padding-right:40px;
    margin:0px ;
    padding: 20px 0 20px 0;
    background-color: #292828;
    text-align: center;
    color: aliceblue;
  }
  
